<%- include('partials/header', {title:"Fighter Details- P, R, S"}) -%>

<h2>fighter - <%=fighter.name%></h2>

<img src="<%=fighter.photo%>" height=150 />

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=fighter.name%>
    </td>
  </tr>
  <tr>
    <th>
      Wins:
    </th>
    <td>
      <%=fighter.win%>
    </td>
  </tr>
  <tr>
    <th>
      Losses:
    </th>
    <td>
      <%=fighter.lose%>
    </td>
  </tr>
  <tr>
    <th>
      Ties:
    </th>
    <td>
      <%=fighter.tie%>
    </td>
  </tr>
  <tr>
    <th>
      Win %:
    </th>
    <td>
      <%=fighter.win_percent%>
    </td>
  </tr>
  <tr>
    <th>
      Time:
    </th>
    <td>
      <%=fighter.time%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
