<%- include('partials/header', {title:"Weirdle: High Scores"}) -%>

<h2>High Scores</h2>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Difficulty 1 record time
    </th>
    <th>
      Difficulty 2 record time
    </th>
  </tr>
  <%for(let i =0; i<users.length; i++){%>
  <tr>
  <th>
    <a href="/user/<%=users[i].name%>"><%=users[i].name%></a>
  </th>
  <th>
    <%=users[i].dif1rectime%>
  </th>
  <th>
    <%=users[i].dif2rectime%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
