<%- include('partials/header', {title:"Results: P, R, S"}) -%>

<img src="<%=data.opponentPhoto%>" height=150 />
<p><%=data.opponentName%><p>
<p><%=data.fighterName%><p>
<p>You have <%=data.fighterTime%> seconds to beat</p>


<script>

  let wordlist = [];

  console.log("hello!");


  <% dataset.forEach(function(set) { %>
   {
          let name = "<%= set.name %>";
          console.log("name: " + name);
          wordlist.push(name);
    }

      <% }); %>
      console.log("wordlist: " + wordlist);


</script>


<%- include('partials/footer') -%>
