<%- include('partials/header', {title:"Play: Weirdle"}) -%>

<p> Choose your fighter! Whoever clears the game first wins. <br>
  *Note that the more you win against one fighter, the faster they get.

  <form action="/play2" method="GET">
    <img title="" src="" id="userImage" />
    <label for="user">I am:</label>
    <select id="user" name="user">
      <%for(player in data){%>

      <option value="<%=player%>"><%=player%></option>
      <%}%>
    </select>
    <img title="" src="" id="fighterImage" />
    <label for="fighter">I challenge:</label>
    <select id="fighter" name="fighter">
      <%for(player in dataF){%>

      <option value="<%=player%>"><%=player%></option>
      <%}%>
    </select>
    <br><br>
    <input type="submit" value="Start game!">

  </form>

  <%- include('partials/footer') -%>
