<%- include('partials/header', {title:"Play: Weirdle"}) -%>

<p> Choose your opponent! Whoever clears the game first wins. <br>
  *Note that the more you play and win with one opponent, the faster they get.

  <form action="/play2" method="GET">
    <img title="" src="" id="opponentImage" />
    <label for="opponent">I am:</label>
    <select id="opponent" name="opponent">
      <%for(player in data){%>

      <option value="<%=player%>"><%=player%></option>
      <%}%>
    </select>
    <img title="" src="" id="fighterImage" />
    <label for="fighter">I challenge:</label>
    <select id="fighter" name="fighter">
      <%for(player in data){%>

      <option value="<%=player%>"><%=player%></option>
      <%}%>
    </select>
    <br><br>
    <input type="submit" value="Start game!">

  </form>

  <%- include('partials/footer') -%>
