<%- include('partials/header', {title:"Results: Weirdle"}) -%>

<h2><%=data.userName%> guess <%=data.userGuess%></h2>
<h2>You guessed <%=data.userGuess%></h2>

<h1>You <%=data.outcome%>!</h1>

<%- include('partials/footer') -%>
