<%- include('partials/header', {title:"P, R, S: High Scores"}) -%>

<h2>High Scores</h2>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Wins
    </th>
    <th>
      Losses
    </th>
    <th>
      Ties
    </th>
    <th>
      Win %
    </th>
  </tr>
  <%for(let i =0; i<presets.length; i++){%>
  <th>
    <a href="/opponent/<%=presets[i].name%>"><%=presets[i].name%></a>
  </th>
  <th>
    <%=presets[i].win%>
  </th>
  <th>
    <%=presets[i].lose%>
  </th>
  <th>
    <%=presets[i].tie%>
  </th>
  <th>
    <%=presets[i].win_percent%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
