<%- include('partials/header', {title:"User Details- Weirdle"}) -%>

<h2>user - <%=user.name%></h2>

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=user.name%>
    </td>
  </tr>
  <tr>
    <th>
      Difficulty 1 record time:
    </th>
    <td>
      <%=user.dif1rectime%>
    </td>
  </tr>
  <tr>
    <th>
      Difficulty 2 record time:
    </th>
    <td>
      <%=user.dif2rectime%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
