<%- include('partials/header', {title:"User Details"}) -%>

<h2>User: <%=user.name%></h2>

<img src="<%=user.photo%>" height=150 />

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=user.name%>
    </td>
  </tr>
  <tr>
    <th>
      Wins:
    </th>
    <td>
      <%=user.win%>
    </td>
  </tr>
  <tr>
    <th>
      Losses:
    </th>
    <td>
      <%=user.lose%>
    </td>
  </tr>
  <tr>
    <th>
      Win %:
    </th>
    <td>
      <%=user.win_percent + '%';%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
