<%- include('partials/header', {title:"User Leaderboard"}) -%>

<h2 style="text-align:center">My Users</h2>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Wins
    </th>
    <th>
      Losses
    </th>
    <th>
      Win %
    </th>
  </tr>
  <%for(let i =0; i<users.length; i++){%>
  <tr>
  <th>
    <a href="/user/<%=users[i].name%>"><%=users[i].name%></a>
  </th>
  <th>
    <%=users[i].win%>
  </th>
  <th>
    <%=users[i].lose%>
  </th>
  <th>
    <%=users[i].win_percent = (users[i].win/parseFloat(users[i].win+users[i].lose) * 100).toFixed(2) + '%';%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
