<%- include('partials/header', {title:"word Details"}) -%>

<p>word: <%=word.name%></p>

<table>
  <tr>
    <th>
      # of times it's been the answer
    </th>
    <td>
      <%=word.chosenWordCount%>
    </td>
  </tr>
  <tr>
    <th>
      # of times it's been missed
    </th>
    <td>
      <%=word.notChosenWord%>
    </td>
  </tr>
  <tr>
    <th>
      Win %:
    </th>
    <td>
      <%=word.chosen_percent + '%';%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
